// __Font Sizes__ //

@mixin font-size($size) {
    @if $size == xsmall {
        font-size: .75rem;
    } @else if $size == small {
        font-size: .9rem;
    } @else if $size == medium {
        font-size: 1rem;
    } @else if $size == large {
        font-size: 1.2rem;
    } @else if $size == larger {
        font-size: 1.6rem;
    } @else if $size == xlarge {
        font-size: 2rem;
    } @else if $size == xxlarge {
        font-size: 3rem;
    } @else if $size == gigantic {
        font-size: 4rem;
    } @else {
        font-size: 1rem;
    }
}

@mixin font-type($type) {
    @if $type == title {
        font-family: 'OpenSans-CondLight', Arial, Helvetica, sans-serif;
    } @else if $type == light {
        font-family: 'OpenSans-Light', Arial, Helvetica, sans-serif;
    } @else if $type == text {
        font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
    } @else if $type == bold {
        font-family: 'OpenSans-Semibold', Arial, Helvetica, sans-serif;
    } @else if $type == mono {
        font-family: 'courier new', 'monospace';
    } @else {
        font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
    }
}

%lightbox {
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99910;
    .close {
        @include svg-size(2rem);
        cursor: pointer;
        display: block;
        fill: $gray;
        position: absolute;
        right: 3rem;
        top: 3rem;
        transition: fill .2s;
        display: block;
        &:hover {
            fill: $red-light;
        }
        svg {
            @include svg-size(2rem);
            pointer-events: none;
        }
    }
    &.open {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: 1;
        transition: opacity .3s ease;
    }
    &.close {
        opacity: 0;
        transition: opacity .3s ease;
    }
    .lb-icon {
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        svg {
            @include svg-size(6rem);
            display: block;
            fill: $whitish;
        }
    }
    .title {
        text-align: center;
    }
    fieldset {
        margin-bottom: 1rem;
    }
    textarea {
        resize: vertical;
    }
    .button-green,
    .button-gray {
        display: block;
        padding: 12px;
        text-align: center;
    }
}

%loading-spinner {
    animation-timing-function: ease-in-out;
    animation: rotate 1.5s cubic-bezier(.00, .05, .87, 1.04) infinite alternate;
    margin: 0 auto;
    max-height: 1rem;
    max-width: 1rem;
    transform-origin: 32 32;
}

$navbar: 40px;
$main-height: calc(100vh - 40px);
