//*************************
//** COLORS
//************************

// Colors
$black: #000;
$blackish: #212121;
$grayer: #424242;
$gray: #757575;
$gray-light: #BDBDBD;
$whitish: #EEEEEE;
$white: #fff;

// Primary colors
$primary-light: #8c9eff;
$primary: #3f51b5;
$primary-dark: #1a237e;

//Warning colors
$red-light: #ff5252;
$red: #f44336;

//Card color
$card: #fff8e4;
$card-hover: #f1e8cd;
$card-dark: #cfc29b;

$green-japanese-laurel: #009688;
$green-olive: #cddc39;
$red-amaranth: #e91e63;
$purple-eggplant: #9c27b0;
$yellow-pear: #ffc107;

$tribe-primary: #98e0eb;
$tribe-secondary: #107a8a;

$top-icon-color: $white;
$dropdown-color: rgba(darken($primary-dark, 20%), 1);

// __Font Sizes__ //

@mixin font-size($size) {
    @if $size == xsmall {
        font-size: .75rem;
    } @else if $size == small {
        font-size: .9rem;
    } @else if $size == medium {
        font-size: 1rem;
    } @else if $size == large {
        font-size: 1.2rem;
    } @else if $size == larger {
        font-size: 1.6rem;
    } @else if $size == xlarge {
        font-size: 2rem;
    } @else if $size == xxlarge {
        font-size: 3rem;
    } @else if $size == gigantic {
        font-size: 4rem;
    } @else {
        font-size: 1rem;
    }
}

@mixin font-type($type) {
    @if $type == title {
        font-family: 'OpenSans-CondLight', Arial, Helvetica, sans-serif;
    } @else if $type == light {
        font-family: 'OpenSans-Light', Arial, Helvetica, sans-serif;
    } @else if $type == text {
        font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
    } @else if $type == bold {
        font-family: 'OpenSans-Semibold', Arial, Helvetica, sans-serif;
    } @else if $type == mono {
        font-family: 'courier new', 'monospace';
    } @else {
        font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
    }
}

// lightbox
%lightbox {
    background: rgba($white, .98);
}

// Background images
%triangled-bg {
    background: url('https://lh4.googleusercontent.com/-k7YewfrSQ_Q/VGdNZND0NBI/AAAAAAAAD1A/UDZBeSGR7iM/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B480') no-repeat center center;
    background-size: cover;
}

%background-taiga {
    background: url('https://lh6.googleusercontent.com/-2l_mJ5g6j4k/VGdNZCpaERI/AAAAAAAAD2o/zCx5Z3cYv6Y/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B497') no-repeat center center;
    background-size: cover;
}
